.box {
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:row;
    width: 100%;
    gap:10px;
    font-family: "Poppins", sans-serif;
}

.card {
    height:180px;
    width:250px;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: #f1f8e9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration:none;
}

.card h3 {
    font-size: 1.2rem;
    color: #388e3c;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.5rem;
    font-weight: bold;
}